.footer {
    width: 100%;
    height: auto;
    padding: 1rem;
    text-align: center;
    background-color: $grey-light;

    > .description {
        line-height: 2rem;
        font-size: .75rem;
        color: $grey-dark;
    }
}