// *** GENERAL ***

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #f8f8f2;
}

.main {
    margin: 0 auto;
    max-width: 900px;
}

// *** FONT ***
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;1,400&display=swap');