/*=== SETTINGS ===*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;1,400&display=swap');

$salmon: #fbdfdb;
$grey-light: #eee;
$grey-dark: #777;
$light: #f8f8f2;
$dark: #282a36;

* {
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto Mono', monospace;
    background: $light;
}

/*=== end SETTINGS ===*/

/*=== HEADER ===*/

.header {
    width: 100%;
    height: auto;
    padding: .5rem;
    border: 2px dotted $salmon;
}

.header-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 900px;
    margin: 0 auto;

    > .nav {
        display: flex;
        justify-content: flex-end;
    }

    > .nav > .item {
        color: $dark;
        margin: .5rem 1rem;
        transition: .3s;

        &:hover {
            opacity: .6;
        }
    }
}
