/* ##########       SETTINGS         ########## */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;1,400&display=swap');
:root {
    --purple: #bd93f9;
    --green: #50fa7b;
    --green-darker: #185226;
    --pink: #ff79c6;
    --light: #f8f8f2;
    --dark: #44475a;
    --background: #282a36;
    --background-darker: #20222d;
    --shadow-pink: inset 0px 0px 2px var(--pink), 0px 0px 2px var(--pink);
    --shadow-pink-line: 1px 4px 5px -7px var(--light);
}

* {
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto Mono', monospace !important;
    background: var(--background);
}

/* ########## end SETTINGS ########## */

/* ##########       HEADER       ########## */

.header {
    width: 100%;
    text-align: center;
}

.logo-img {
    width: 15rem;
    margin-top: 1.5rem;
}

.nav-wrapper {
    margin: 1rem;
}

.nav-wrapper ul li {
    display: inline;
}

.nav-wrapper ul li a {
    color: var(--light);
    text-decoration: none;
    font-size: .95rem;
    margin: .3rem;
    padding: .2rem;
    transition: .3s;
    opacity: .6;
    text-transform: uppercase;
}

.nav-wrapper ul li a:hover {
    cursor: pointer;
    font-weight: 500;
    opacity: 1;
}

.nav-wrapper ul li a:active {
    transition: 0;
    opacity: 1;
    color: var(--pink);
    border-bottom-color: var(--light);
}

/* ##########       SVG logo         ########## */

.shp0 {
    fill: var(--pink);
    transition: .3s ease-in-out;
}

.logo-img:hover>.shp0 {
    fill: var(--light)
}

.shp1 {
    fill: var(--light);
    transition: .3s ease-in-out;
}

.logo-img:hover>.shp1 {
    fill: var(--pink);
}

.logo-img:active>.shp0 {
    fill: var(--pink);
    fill-opacity: .8;
}

.logo-img:active>.shp1 {
    fill: var(--light);
    fill-opacity: .8;
}

/* ########## end SVG logo ########## */

/* ########## end HEADER ########## */

/* ##########       MAIN         ########## */

#id-section, #skills-section, #projects-section {
    max-width: 900px;
    text-align: left;
    padding: 2em 0;
    margin: 2rem auto 0;
}

.section-wrapper {
    max-width: 756px;
    padding: 1rem;
    text-align: center;
    margin: 0 auto 6rem;
    color: var(--light);
}

.section-title {
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--light);
    margin: 0rem auto;
    transition: .5s;
    opacity: .05;
}

.section-wrapper:hover>.section-title {
    opacity: .1;
}

/* ##########       ID Section      ########## */
.id-img {
    width: 220px;
    height: 220px;
    position: relative;
    border: 1px solid var(--dark);
    box-shadow: var(--shadow-pink);
    filter: grayscale(100%);
    border-radius: 100%;
    transition: all .5s;
    margin: 3rem auto 4rem;
    display: block;
    opacity: .8;
}

.section-wrapper:hover > .id-img {
    cursor: pointer;
    border: 1px solid var(--pink);
    filter: none;
    box-shadow: var(--shadow-pink);
    opacity: 1;
}

.id-img img{
    width: 220px;
    transition: all .5s;
    filter: grayscale(100%);
}

.section-wrapper:hover > .id-img img {
    filter: none;
}

.id-apresentation {
    text-align: left;
    line-height: 2rem;
    margin: 1rem 1.5rem;
    font-size: 1.25rem;
    transition: .3s ease-in-out;
    opacity: .9;
}

.section-wrapper:hover > .id-apresentation {
    opacity: 1;
}

.id-apresentation .id-main-information {
    font-weight: bolder;
    font-style: italic;
    border-bottom: 1px solid var(--background);
    transition: .3s ease-in-out;

}

.section-wrapper:hover>.id-apresentation .id-main-information {
    border-bottom: 1px solid var(--pink);
    box-shadow: var(--shadow-pink-line);
}

.id-study-link {
    color: var(--pink);
    font-size: 1rem;
    font-style: italic;
    opacity: .6;
    transition: .5s;
    text-decoration: underline;
    margin-top: 5rem;
}

.section-wrapper:hover > .id-study-link {
    opacity: 1;
}

.id-study-link:hover {
    color: var(--green);
    cursor: pointer;
}

/* ########## end ID Section ########## */

/* ##########       FOOTER      ########## */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3rem;
    padding-top: .75rem;
    background-color: var(--background-darker);
    text-align: center;
}

.footer ul li {
    display: inline;
    margin: 0 1.5rem;
}

.footer ul li a i {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--light);
    opacity: .6;
    transition: .3s ease-in-out;
}

.footer ul li a i:hover {
    opacity: 1;
    color: var(--pink);
}

/*=== === === CARD === === ===*/

#cards {
    max-width: 756px;
    margin: 4rem auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.card {
    background-color: var(--background-darker);
    border: .5rem solid var(--background-darker);
    border-radius: .5rem;
    cursor: pointer;
    opacity: .8;
    transition: .3s;
    color: var(--light);
}

.card:hover {
    opacity: 1;
}

.card__img-container img {
    width: 100%;
    border-radius: .5rem .5rem 0 0;

}

.card__info,
.card__content {
    padding: 1.5rem;
}

.card__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card__price {
    background-color: var(--background);
    padding: .5rem;
    border-radius: 1rem;
    text-align: center;
    transition: .3s;
}

.card:hover .card__price {
    color: var(--green);

}

/*=== === === MODAL === === ===*/

.modal-overlay {
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    background: var(--background);
    width: 80%;
    max-width: 900px;
    border-radius: .5rem;
    height: 80%;
    margin: 8vh auto;
    position: relative;
}

 .modal .close-modal {
     cursor: pointer;
     position: absolute;
     right: 1rem;
     color: var(--light);
     font-size: 3rem;
     transform: rotate(45deg);
     transition: .3s;
     opacity: .8;
 }

 .modal .close-modal:hover {
     opacity: 1;
    transform: rotate(45deg) scale(1.1);
 }

 .modal .close-modal:active {
    transform: rotate(45deg) scale(.9);
    color: var(--pink);
 }

 .modal .modal-content {
     width: 100%;
     height: 100%;
 }

 .modal .modal-content iframe {
    width: 100%;
    height: 90%;
    bottom: 0;
    position: absolute;
    border-radius: 0 0 .5rem .5rem;
    
}